body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("img/main-page.jpg");
  background-size: 100%;
}

@font-face {
  font-family: "Beclave";
  src: local("Beclave"), url(./fonts/Beclave\ Demo.ttf) format("truetype");
}

h1 {
  font-family: Beclave;
  font-size: 80px;
  color: white;
  text-align: center;
  padding-top: 10px;
  text-shadow: 2px 2px #000000;
}
