body {
  font-family: 'Rubik', sans-serif;
  background-image: url("img/Tavern.jpeg");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
  color: white;
  text-align: center;
  padding-top: 20px;
}

.small {
  font-weight: 300;
  font-style: italic;
}
