
/* unvisited link */
.campaignname:link {
    text-decoration: none;
}

/* visited link */
.campaignname:visited {
    text-decoration: none;
}

.campaignname {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: none;
    font-weight: bold;
    font-size: 35px;
    color: bisque;
    text-shadow: 2px 2px #000000;
    /* color: #38250E; */
    text-decoration: none;
} 

a {
    text-decoration: none;
    color: bisque;
    /* color: #38250E; */
}

.campaigndescription {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* text-align: center; */
    text-shadow: none;
font-size: 20px;
color: black;
}

.creator {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #4A3728;
    text-shadow: none;
} 

/* unvisited link */
.creator:link {
    text-decoration: none;
}

/* visited link */
.creator:visited {
    text-decoration: none;
}

.container {
    padding-bottom: 200px;
}