.signupbox {
    text-align: center;
    border: 2px solid white;
    border-radius: 7px;
    background: rgba(194, 168, 149, 0.9);
    width: 45%;
    min-height: 250px;
    margin: auto;
}

h4 {
    text-align: center;
    color: white;
}

.inputs {
    text-align: center;
}

input {
    margin: 5px;
    min-height: 30px;
}

button {
    margin: 15px;
    background-color: blanchedalmond;
    box-shadow: 2px 2px 2px 2px;
    min-height: 30px;
}

button:hover {
    cursor: pointer;
    background-color: greenyellow;
}