body {
    background: url(../img/Tavern.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.cALL {
    border: 2px solid white;
    border-radius: 7px;
    background: rgba(194, 168, 149, 0.9);
    width: 75%;
    height: fit-content;
    min-height: 350px;
    margin: auto;
    text-align: center;
}

.ctitle {
    font-family: Beclave;
    font-size: x-large;
    font-weight: bolder;
    color: bisque;
    margin: 10px;
}

.cdescription {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    color: aliceblue;
    text-shadow: none;
}