.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.name {
    color: azure;
}
/* unvisited link */
.name:link {
    text-decoration: none;
}

/* visited link */
.name:visited {
    text-decoration: brown;
}

/* mouse over link */
.name:hover {
    color: burlywood;
    cursor: pointer;
}

/* selected link */
.name:link {
    color: white;
}

/*footer tab*/
@media (min-width: 768px) and (max-width: 991px) {
    .footerwords {
        font-size: 25px; 
        }
    }
    
    /* Mobile :320px. */
    @media (max-width: 767px) {
    .footerwords {
        font-size: 15px; 
        }
    }